[user]
	name = Cyrus Jamula
	email = cyrusj@microsoft.com

[init]
	defaultBranch = main

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[core]
	editor = code --wait
	autocrlf = input
	safecrlf = true

[push]
	default = simple
	followTags = true

[pull]
	rebase = false

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	ca = commit -a
	ps = push
	pl = pull
	mg = merge --no-ff
	lg = log --oneline --decorate --all --graph
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk

[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan
